.default {
  background-color: white;
  display: grid;
  grid-template-columns: 53% 47%;
  grid-template-rows: 1fr auto;
  padding-top: 10vw;
  @media (max-width: 1023px) {
    grid-auto-flow: row;
    grid-template-columns: unset;
    grid-template-rows: auto 10vh auto;
    padding-top: 14vw;
  }
}