.logo-container {
  pointer-events: none;
  background: transparent;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
  height: 88px;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 72px 1fr 0;
  justify-content: center;
  align-items: flex-start;
  grid-gap: 1rem;
  z-index: 4;
  .logo {
    pointer-events: all;
    cursor: pointer;
    height: 88px;
    width: 100%;
    padding: 0;
    display: block;
    margin-bottom: 0;
    background-position: center center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  .floating-logo {
    pointer-events: var(--floating-logo-click);
    position: relative;
    cursor: pointer;
    top: 0.5rem;
    height: 4rem;
    width: 100%;
    opacity: var(--floating-logo-opacity);
    transition: opacity 0.5s;
    background-position: left center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  .ticker {
    display: none;
  }
  &.menu-open {
    .logo {
      opacity: 0;
      pointer-events: none;
    }
    .floating-logo {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media (max-width: 1023px) {
  .logo-container {
    position: absolute;
    height: 14vw;
    max-height: 88px;
    grid-template-columns: auto 1fr auto;
    padding: 2vw 1vw;
    grid-gap: 1vw;
    .logo {
      width: 10vw;
      height: 10vw;
      max-width: 72px;
      max-height: 72px;
    }
    .floating-logo {
      top: unset;
      height: 10vw;
      max-height: 72px;
    }
    .ticker {
      display: none;
      .price-container {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        font: var(--font-soleto-bold);
        font-size: 1rem;
        left: unset;
        right: 0;
        padding: 2vw 3vw;
        .oil-price {
          display: grid;
          grid-auto-flow: column;
          gap: 0.5rem;
          color: inherit;
          .name {
            color: inherit;
          }
          .icons-container {
            .icon {
              width: 1rem;
              height: 1rem;
              margin-bottom: 0;
            }
            .change {
              color: inherit;
              &.decrease {
                color: inherit;
              }
              &.increase {
                color: inherit;
              }
              .icon {
                width: 1rem;
                height: 1rem;
                margin-bottom: 0;
              }
            }
          }
          &:nth-of-type(1) {
            animation: roll-back 3s infinite alternate;
          }
          &:nth-of-type(2) {
            animation: roll-back 3s infinite alternate-reverse;
          }
          .price {
            color: inherit;
          }
          .difference {
            display: none;
          }
          .percent {
            display: none;
            &.decrease {
              color: var(--color-alizarin);
            }
            &.increase {
              color: var(--color-dark-pastel-green);
            }
          }
        }
      }
    }
    &.menu-open {
      background: white;
      position: fixed !important;
      .logo {
        opacity: 1;
      }
      .floating-logo {
        opacity: 1;
      }
      .ticker {
        display: unset;
      }
    }
  }
}


@keyframes roll-back {
  0%, 50% {
    transform: scaleY(1);
    height: 2rem;
    opacity: 1;
  }
  75%, 100% {
    transform: scaleY(0);
    height: 0;
    opacity: 0;
  }
}
