.default {
  padding: 7vw 0 0 10vw;
  position: relative;
  .list {
    display: grid;
    gap: 2vw;
    .list-item {
      margin-bottom: 0;
      .link, .menu {
        display: grid;
        position: relative;
        justify-content: left;
        align-items: center;
        cursor: pointer;
        .label {
          color: white;
          font-weight: 300;
          font-size: 6vw;
          margin-bottom: 0;
        }
        .label:hover {
          font-weight: 600;
        }
        .label-black:hover {
          font-weight: 800;
        }
        .label-black {
          color: black;
          font-weight: 400
        }
        &.active {
          color: var(--color-grey);
          .label {
            font-weight: 600;
          }
          .label-black {
            font-weight: 800;
          }
        }
      }
    }
  }
}  