.default {
  padding: 5vw 0 0 10vw;
  position: relative;
  .list {
    display: grid;
    gap: 2vw;
    .list-item {
      margin-bottom: 0;
      .link, .menu {
        display: grid;
        position: relative;
        justify-content: left;
        align-items: center;
        cursor: pointer;
        .label {
          color: white;
          font-weight: 300;
          font-size: 5vw;
          margin-bottom: 0;
        }
        &:hover {
        }
        &.active {
          color: var(--color-grey);
          .label {
            color: white;
          }
        }
      }
    }
  }
}  