.default {
  // height: 100%;
  position: relative;
  .list {
    display: grid;
    gap: 2.6vw;
    grid-auto-flow: column;
    .list-item {
      margin-bottom: 0;
      .link, .menu {
        display: grid;
        position: relative;
        justify-content: center;
        align-items: center;
        // height: 100%;
        cursor: pointer;
        .label {
          color: white;
          font-weight: 300;
          font-size: 1.25vw;
          margin-bottom: 0;
        }
        &:hover {
        }
        &.active {
          color: var(--color-grey);
          .label {
            color: white;
          }
        }
      }
    }
  }
}  