.section {
  position: relative;
  margin: 0;
  overflow: visible;
  padding: 0;
  height: 95vh;
  width: 100vw;
  .background {
    width: 100vw;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .7s;
    img {
      object-fit: cover;
      height: 95vh;
      width: 100vw;
      filter: brightness(50%);
    }
  }
  .backgroundShow {
    opacity: 1;
    visibility: visible;
  }
  .descriptionsContainer {
    position: absolute;
    width: 100vw;
    bottom: 40%;
    display: flex;
    justify-content: center;
    .descriptions {
      position: relative;
      width: 65%;
      text-align: center;
      .description {
        text-align: center;
        font-size: 1.2vw;
        line-height: 1.8vw;
        font-family: 'Roboto', sans-serif;
        color: white;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all .7s;
        font-weight: 500;
      }
      .descriptionShow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .selectorContainer {
    position: absolute;
    bottom: 15%;
    color: white;
    padding: 0 13% 0 16.5%;
    width: 98vw;
    .slideContainer {
      overflow-x: hidden;
      overflow-y: visible;
      width: 100%;
      
      .selectors {
        width: fit-content;
        white-space: nowrap;
        position: relative;
        transition: all .5s;
        left: 3vw;
        transform: translateX(-21vw);
        .selector {
          display: inline-block;
          text-align: center;
          font-size: 2vw;
          line-height: 3vw;
          font-weight: 900;
          font-family: 'Roboto', sans-serif;
          font-style: italic;
          color: white;
          opacity: 0.5;
          cursor: pointer;
          transition: all 1s;
          width: 21vw;
        }  
        .selected {
          opacity: 1;
        }
      }
    
    }
  }
  .button {
    border-radius: 5vw;
    font-size: 1.3vw;
    font-weight: 600;
    padding: 0 5vw 0 0;
    height: 4vw;
    border: none;
    background-color: transparent;
    text-align: left;
    position: relative;
    transition: all .5s;
    color: #D50F09;
    cursor: pointer;
    span {
      border-radius: 100%;
      background-color: #D50F09;
      position: absolute;
      top: .6vw;
      right: .3vw;
      width: 2.5vw;
      height: 2.5vw;
      display: grid;
      align-items: center;
      justify-content: center;
      transition: all .5s;
      .right, .left {
        height: 1.2vw;
        width: 1.2vw;
        margin: 0;
      }
      .left {
        transform: rotate(180deg);
      }
    }
  }
  .button:hover {
    span {
      background-color:  rgb(128, 38, 38);
    }
  }
  .button:focus {
    outline: 0;
  }
  .buttonLeftContainer {
    position: absolute;
    top: -15%;
    left: 12%;
  }
  .buttonRightContainer {
    position: absolute;
    top: -15%;
    right: 12%;
  }
}
@media (max-width: 1023px) {
  .section {
    .descriptionsContainer {
      bottom: 60%;
      .descriptions {
        .description {
          font-size: 1.8vw;
          line-height: 2.7vw;
        }
      }
    }
    .button {
      span {
        top: .3vw;
        right: .3vw;
        width: 3.75vw;
        height: 3.75vw;
        .right, .left {
          height: 1.2vw;
          width: 1.2vw;
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .section {
    .descriptionsContainer {
      bottom: 80%;
      .descriptions {
        .description {
          font-size: 3.5vw;
          line-height: 5.4vw;
        }
      }
    }
    .selectorContainer {
      .slideContainer {
        .selectors {
          left: -1.5vw;
          transform: translateX(-140vw);
          .selector {
            font-size: 7vw;
            line-height: 10vw;
            width: 70vw;
          }
        }
      }
    }
    .button {
      span {
        top: 1.8vw;
        right: .3vw;
        width: 7vw;
        height: 7vw;
        .right, .left {
          height: 2.4vw;
          width: 2.4vw;
          margin: 0;
        }
      }
    }
  }
}