.forms {
  padding: 2vw 5vw;
  display: grid;
  gap: 4vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 15.2vw);
  // grid-auto-flow: column;
  .form {
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5vw 0;
    border-radius: 0.5vw;
    h2 {
      font-size: 1.7vw;
      margin-bottom: 0;
      text-align: center;
      color: white;
      font-style: normal;
      padding: 1vw;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
@media (max-width: 600px) {
  .forms {
    padding: 5vw 5vw;
    gap: 4vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 40vw);
    .form {
      padding: 5vw 0;
      border-radius: 2vw;
      height: 40vw;
      h2 {
        font-size: 6vw;
      }
    }
  }
}