.section {
   position: relative;
   margin-bottom: 9vw;
   overflow: visible;
   padding: 0;
   height: 55vw;
  .top {
    position: relative;
    height: 55vw;
    width: 100%;
    margin: 0;
    padding: 0;
    .background {
      width: 100%;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: all .7s;
      img {
        object-fit: cover;
        height: 55vw;
        width: 100%;
        filter: brightness(50%);
      }
    }
    .backgroundShow {
      opacity: 1;
      visibility: visible;
    }
    .headingContainer {
      width: 100%;
      position: absolute;
      top: 10vw;
      padding: 2vw;
      text-align: center;
      color: white;
      .heading {
        font-size: 6vw;
        line-height: 6vw;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        letter-spacing: .01vw;
        margin: 0;
        padding: 0;
        color: white;
        font-style: normal;
        text-decoration: none;
      }
      .subHeading {
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-style: normal;
      }
      .paragraph {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1vw;
        font-weight: 400;
        margin-bottom: 5vw;;
      }
      .buttonContainer {
        .buttons {
          position: absolute;
          margin-top: 0;
          width: 95%;
          transition: all .7s;
          opacity: 0;
          visibility: hidden;
          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 2vw;
          justify-content: center;
          align-items: center;
          .button {
            border-radius: 5vw;
            font-size: 1.4vw;
            font-weight: 700;
            padding: .5vw 5vw .5vw 3vw;
            border: none;
            background-color: transparent;
            margin-top: 3vw;
            text-align: left;
            position: relative;
            transition: all .5s;
            color: white;
            margin: 0;
            cursor: pointer;
            span {
              border-radius: 100%;
              background-color: #D50F09;
              position: absolute;
              top: -0.1vw;
              right: .3vw;
              width: 3vw;
              height: 3vw;
              display: grid;
              align-items: center;
              justify-content: center;
              transition: all .5s;
              .icon {
                height: 1.3vw;
                width: 1.3vw;
                margin: 0;
              }
            }
          }
          .button:hover {
            span {
              background-color: rgb(95, 27, 27);
            }
          }
        }
        .buttonsShow {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .selectContainer {
        width: 100%;
        height: 20vw;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -5vw;
        padding: 0;
        margin: 0;
      .selectBoxes {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw;
        grid-column-gap: 0vw;
        grid-row-gap: 0vw;
        margin: 0;
        padding: 0;
        height: 20vw;
        .selectBox {
          margin: 0;
          padding: 0;
          height: 20vw;
          filter: grayscale(1);
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: auto auto;
          grid-row-gap: 0;
          cursor: pointer;
          .smallImage {
            height: 15vw;
            width: 20vw;
            object-fit: cover;
            margin: 0;
            padding: 0;
          }
          .selectCategory {
            height: 5vw;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #D50F09;
            background-color: transparent;
            position: relative;
            font-size: 1.7vw;
            line-height: 1.7vw;
            font-weight: 900;
            font-family: 'Roboto', sans-serif;
            filter: grayscale(1);
            .highlighter {
              background-color: transparent;
              height: 0.5vw;
              width: 3vw;
              border-radius: 5vw;
              margin-top: 1vw;
              position: absolute;
              bottom: 0.5vw;
            }
            .highlighterSelected {
              background-color: white;
            }
          }
          .selectCategorySelected {
            filter: none;
            background-color: #D50F09;
            color: white;
          }
        }
        .selectBox:hover {
          filter: none;
          .selectCategory {
            filter: none;
            .highlighter {
              background-color: #D50F09;
            }
          }
        }
        .selectBoxSelected {
          filter: none;
          pointer-events: none;
        }
      }
      @media (max-width: 768px) {
        .selectBoxes {
          grid-template-columns: 50vw 50vw;
          .selectBox {
            .smallImage {
              width: 50vw;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1023px) {
  .section {
    position: relative;
    margin-bottom: 9vw;
    overflow: visible;
    padding: 0;
    height: 55vw;
   .top {
     position: relative;
     height: 55vw;
     width: 100%;
     margin: 0;
     padding: 0;
     .background {
       width: 100%;
       position: absolute;
       opacity: 0;
       visibility: hidden;
       transition: all .7s;
       img {
         object-fit: cover;
         height: 55vw;
         width: 100%;
         filter: brightness(50%);
       }
     }
     .backgroundShow {
       opacity: 1;
       visibility: visible;
     }
     .headingContainer {
       width: 100%;
       position: absolute;
       top: 10vw;
       padding: 2vw;
       text-align: center;
       color: white;
       .heading {
         font-size: 9vw;
         line-height: 9vw;
         font-weight: 900;
         font-family: 'Roboto', sans-serif;
         letter-spacing: .01vw;
         margin: 0;
         padding: 0;
       }
       .subHeading {
         font-weight: 900;
         font-family: 'Roboto', sans-serif;
       }
       .paragraph {
         width: 40%;
         margin-left: auto;
         margin-right: auto;
         font-size: 1.5vw;
         font-weight: 400;
         margin-bottom: 5vw;;
       }
       .buttonContainer {
         .buttons {
           margin-top: 0;
           width: 95%;
           transition: all .7s;
           opacity: 0;
           visibility: hidden;
           display: grid;
           grid-template-columns: auto auto;
           grid-column-gap: 2vw;
           justify-content: center;
           align-items: center;
           .button {
             border-radius: 5vw;
             font-size: 2.4vw;
             font-weight: 700;
             padding: .5vw 5vw .5vw 3vw;
             border: none;
             background-color: transparent;
             margin-top: 3vw;
             text-align: left;
             position: relative;
             transition: all .5s;
             color: white;
             margin: 0;
             cursor: pointer;
             span {
               border-radius: 100%;
               background-color: #D50F09;
               position: absolute;
               top: -.3vw;
               right: -.6vw;
               width: 4.5vw;
               height: 4.5vw;
               display: grid;
               align-items: center;
               justify-content: center;
               transition: all .5s;
               .icon {
                 height: 1.9vw;
                 width: 1.9vw;
                 margin: 0;
               }
             }
           }
           .button:hover {
             span {
               background-color: rgb(95, 27, 27);
             }
           }
         }
         .buttonsShow {
           visibility: visible;
           opacity: 1;
         }
       }
     }
     .selectContainer {
         width: 100%;
         height: 20vw;
         display: flex;
         justify-content: center;
         position: absolute;
         bottom: -5vw;
         padding: 0;
         margin: 0;
       .selectBoxes {
         display: grid;
         grid-template-columns: 20vw 20vw 20vw 20vw;
         grid-column-gap: 0vw;
         grid-row-gap: 0vw;
         margin: 0;
         padding: 0;
         height: 20vw;
         .selectBox {
           margin: 0;
           padding: 0;
           height: 20vw;
           filter: grayscale(1);
           display: grid;
           grid-template-columns: auto;
           grid-template-rows: auto auto;
           grid-row-gap: 0;
           .smallImage {
             height: 15vw;
             width: 20vw;
             object-fit: cover;
             margin: 0;
             padding: 0;
           }
           .selectCategory {
             height: 5vw;
             margin: 0;
             padding: 0;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             color: #D50F09;
             background-color: transparent;
             position: relative;
             font-size: 2.55vw;
             line-height: 2.55vw;
             font-weight: 900;
             font-family: 'Roboto', sans-serif;
             filter: grayscale(1);
             .highlighter {
               background-color: transparent;
               height: 0.5vw;
               width: 3vw;
               border-radius: 5vw;
               margin-top: 1vw;
               position: absolute;
               bottom: 0.5vw;
             }
             .highlighterSelected {
               background-color: white;
             }
           }
           .selectCategorySelected {
             filter: none;
             background-color: #D50F09;
             color: white;
           }
         }
         .selectBox:hover {
           filter: none;
           .selectCategory {
             filter: none;
             .highlighter {
               background-color: #D50F09;
             }
           }
         }
         .selectBoxSelected {
           filter: none;
           pointer-events: none;
         }
       }
     }
   }
 }
}
@media (max-width: 768px) {
  .section {
    .top {
      .selectContainer {
        bottom: 20vw;
        .selectBoxes {
          grid-template-columns: 50vw 50vw;
          grid-template-rows: auto;
          height: 40vw;
          .selectBox {
            width: 50vw;
            height: 20vw;
            position: relative;
            .smallImage {
              width: 50vw;
              height: 20vw;
            }
            .selectCategory {
              color: white;
              position: absolute;
              width: 100%;
              font-size: 4vw;
              top: 40%;
              .highlighter {
                display: none;
              }
            }
            .selectCategorySelected {
              filter: none;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .section {
    position: relative;
    margin-bottom: 9vw;
    overflow: visible;
    padding: 0;
    height: 210vw;
   .top {
     position: relative;
     height: 210vw;
     width: 100%;
     margin: 0;
     padding: 0;
     .background {
       width: 100%;
       position: absolute;
       opacity: 0;
       visibility: hidden;
       transition: all .7s;
       padding: 0;
       img {
         object-fit: cover;
         height: 100vw;
         width: 100%;
         filter: brightness(50%);
         margin: 0;
       }
     }
     .backgroundShow {
       opacity: 1;
       visibility: visible;
     }
     .headingContainer {
       width: 100%;
       position: absolute;
       top: 10vw;
       padding: 2vw;
       text-align: center;
       color: white;
       .heading {
         font-size: 9vw;
         line-height: 9vw;
         font-weight: 900;
         font-family: 'Roboto', sans-serif;
         letter-spacing: .01vw;
         margin: 0;
         padding: 0;
       }
       .subHeading {
         font-weight: 900;
         font-family: 'Roboto', sans-serif;
         font-size: 5vw;
       }
       .paragraph {
         width: 90%;
         margin-left: auto;
         margin-right: auto;
         font-size: 3.5vw;
         font-weight: 400;
         margin-bottom: 5vw;;
       }
       .buttonContainer {
         .buttons {
           padding-left: 10vw;
           margin-top: 0;
           width: 95%;
           transition: all .7s;
           opacity: 0;
           visibility: hidden;
           display: grid;
           grid-template-columns: auto;
           grid-column-gap: 2vw;
           justify-content: left;
           align-items: center;
           .button {
             border-radius: 5vw;
             font-size: 4vw;
             font-weight: 700;
             padding: .5vw 5vw .5vw 3vw;
             border: none;
             background-color: transparent;
             margin-top: 3vw;
             text-align: left;
             position: relative;
             transition: all .5s;
             color: white;
             margin-bottom: 3vw;
             cursor: pointer;
             span {
               border-radius: 100%;
               background-color: #D50F09;
               position: absolute;
               top: -.3vw;
               right: -6vw;
               width: 8vw;
               height: 8vw;
               display: grid;
               align-items: center;
               justify-content: center;
               transition: all .5s;
               .icon {
                 height: 2.7vw;
                 width: 2.7vw;
                 margin: 0;
               }
             }
           }
           .button:hover {
             span {
               background-color: rgb(95, 27, 27);
             }
           }
         }
         .buttonsShow {
           visibility: visible;
           opacity: 1;
         }
       }
     }
     .selectContainer {
      bottom: 0vw;
      height: auto;
      .selectBoxes {
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: auto;
        .selectBox {
          width: 100%;
          height: 30vw;
          position: relative;
          .smallImage {
            width: 100%;
            height: 30vw;
          }
          .selectCategory {
            color: white;
            position: absolute;
            width: 100%;
            font-size: 4vw;
            top: 40%;
            .highlighter {
              display: none;
            }
          }
          .selectCategorySelected {
            filter: none;
            background-color: transparent;
          }
        }
      }
    }
   }
 }
}