.section {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .backgroundContainer {
    height: 85vh;
    .background {
      height: 85vh;
      width: 100vw;
      img {
        object-fit: cover;
        height: 85vh;
        width: 100vw;
        filter: brightness(50%);
      }
    }
  }
  .container {
    position: absolute;
    .largeHeading {
      color: #d50f09;
      font-size: 5.5vw;
      width: 100%;
      padding: 0 10% 0 10%;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      margin-bottom: 4vw;
    }
    h2 {
      color: #d50f09;
      font-size: 3vw;
      width: 100%;
      padding: 0 20% 0 20%;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      margin-bottom: 4vw;
    }
    p {
      font-size: 1.2vw;
      width: 100%;
      padding: 0 20% 0 20%;
      text-align: center;
      margin-bottom: 4vw;
    }
    .light {
      color: white;
    }
    .form {
      width: 100%;
      height: 3vw;
      display: flex;
      justify-content: center;
      form {
        .inputContainer {
          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 0vw;
          width: 37vw;
          margin: 0;
          height: 3vw;
          .iconContainer {
            width: 3vw;
            margin: 0;
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 0;
            background-color: #E3E3E3;
            border-radius: 5vw 0 0 5vw;
            img {
              height: .8vw;
              margin: 0;
              padding: 0;
            }
          }
          .input {
            width: 24vw;
            border: none;
            background-color: #E3E3E3;
            font-family: 'Roboto', sans-serif;
            font-size: 1vw;
            margin: 0;
            border-top-left-radius: 1.5vw;
            border-bottom-left-radius: 1.5vw;
            background-repeat: no-repeat no-repeat;
            background-position: 0.8vw;
            background-size: 1.2vw;
            padding-left: 4vw;
          }
          .input:focus {
            outline-width: 0;
          }
          .button {
            width: 10vw;
            margin: 0;
            border-radius: 0 5vw 5vw 0;
            font-family: 'Roboto', sans-serif;
            font-size: 1vw;
            background-color: #d50f09;
            color: white;
            border-style: none;
            font-weight: 900;
            transition: all .6s;
            cursor: pointer;
            position: relative;
            right: 3vw;
          }
          .button:hover {
            background-color: rgb(95, 27, 27);
          }
        }  
        .recaptchContainer {
          margin-top: 2vw;
          height: 2vw;
        }
      }
    }
  }
}
@media (max-width: 1023px) {
  .section {
    .container {
      h2 {
        font-size: 4.5vw;
      }
      p {
        font-size: 1.8vw;
      }
      .form {
        position: relative;
        right: 8vw;
        form {
          .inputContainer {
            height: 4.5vw;
            .iconContainer {
              width: 4.5vw;
              margin: 0;
              img {
                height: 1.2vw;
                margin: 0;
                padding: 0;
              }
            }
            .input {
              width: 36vw;
              font-size: 1.5vw;
            }
            .button {
              width: 15vw;
              font-size: 1.8vw;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}