.section {
  position: relative;
  margin: 0;
  overflow: visible;
  padding: 0;
  height: 95vh;
  width: 100%;
  .selectButtons {
    display: none;
  }
  .background {
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .7s;
    img {
      object-fit: cover;
      height: 95vh;
      width: 100%;
      filter: brightness(50%);
    }
  }
  .backgroundShow {
    opacity: 1;
    visibility: visible;
  }
  .selectorContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    .selectors {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
      grid-column-gap: 3vw;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 5vw;
      .market {
        text-align: center;
        font-size: 2vw;
        line-height: 3vw;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        color: white;
        opacity: 0.5;
        cursor: pointer;
        transition: all .5s;
      }
      .market:hover, .marketShow {
        opacity: 1;
      }
    }
  }
  .descriptionsContainer {
    position: absolute;
    width: 100%;
    bottom: 35%;
    display: flex;
    justify-content: center;
    .descriptions {
      position: relative;
      width: 75%;
      text-align: center;
      .description {
        text-align: center;
        font-size: 1.2vw;
        line-height: 1.8vw;
        font-family: 'Roboto', sans-serif;
        color: white;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all .7s;
        font-weight: 500;
      }
      .descriptionShow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .buttonContainer {
    position: absolute;
    bottom: 3vw;
    width: 100%;
    text-align: center;
    .button {
      border-radius: 5vw;
      font-size: 1.5vw;
      font-weight: 700;
      padding: .5vw 5vw .5vw 3vw;
      height: 4vw;
      border: none;
      background-color: transparent;
      color: white;
      margin-top: 3vw;
      text-align: left;
      position: relative;
      transition: all .5s;
      cursor: pointer;
      span {
        border-radius: 100%;
        background-color: #D50F09;
        position: absolute;
        top: .4vw;
        right: .3vw;
        width: 3vw;
        height: 3vw;
        display: grid;
        align-items: center;
        justify-content: center;
        transition: all .5s;
        .icon {
          height: 1.3vw;
          width: 1.3vw;
          margin: 0;
        }
      }
    }
    .button:hover {
      span {
        background-color:  rgb(128, 38, 38);
      }
    }
  }
}
@media (max-width: 1023px) {
  .section {
    .selectorContainer {
      top: 40%;
      .selectors {
        grid-column-gap: 4.5vw;
        height: 7.5vw;
        .market {
          text-align: center;
          font-size: 3.5vw;
          line-height: 5.2vw;
        }
      }
    }
    .descriptionsContainer {
      margin-bottom: 6vw;
      .descriptions {
        .description {
          font-size: 1.8vw;
          line-height: 2.7vw;
        }
      }
    }
    .buttonContainer {
      margin-bottom: 8vw;
      .button {
        border-radius: 5vw;
        font-size: 2.4vw;
        font-weight: 700;
        padding: .75vw .75vw .75vw 4.5vw;
        height: 6vw;
        border: none;
        background-color: transparent;
        color: white;
        margin-top: 4.5vw;
        cursor: pointer;
        span {
          border-radius: 100%;
          background-color: #D50F09;
          position: absolute;
          top: .6vw;
          right: -6vw;
          width: 4.5vw;
          height: 4.5vw;
          display: grid;
          align-items: center;
          justify-content: center;
          transition: all .5s;
          .icon {
            height: 1.9vw;
            width: 1.9vw;
            margin: 0;
          }
        }
      }
      .button:hover {
        span {
          background-color:  rgb(128, 38, 38);
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .section {
    position: relative;
    margin: 0;
    overflow: visible;
    padding: 0;
    height: 95vh;
    width: 100%;
    .selectButtons {
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 20vw;
      z-index: 2;
      .selectTitle {
        color: white;
      }
      .selectButton {
        font-size: 0;
        background-color: rgb(211, 203, 203);
        box-shadow: 0 0 2px black;
        opacity: .7;
        border: none;
        width: 12vw;
        margin: 2vw;
        height: 4vw;
        border-radius: 5vw;
        &:hover, &.active {
          background-color: #D50F09;
          opacity: 1;
        }
        &:focus {
          outline: 0;
        }
      }
    }
    .background {
      width: 100%;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: all .7s;
      img {
        object-fit: cover;
        height: 95vh;
        width: 100%;
        filter: brightness(50%);
      }
    }
    .backgroundShow {
      opacity: 1;
      visibility: visible;
    }
    .selectorContainer {
      width: 100%;
      display: none;
      justify-content: center;
      position: absolute;
      top: 50%;
      .selectors {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 3vw;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 5vw;
        .market {
          text-align: center;
          font-size: 2vw;
          line-height: 3vw;
          font-weight: 900;
          font-family: 'Roboto', sans-serif;
          font-style: italic;
          color: white;
          opacity: 0.5;
          cursor: pointer;
          transition: all .5s;
        }
        .market:hover, .marketShow {
          opacity: 1;
        }
      }
    }
    .descriptionsContainer {
      position: absolute;
      width: 100%;
      bottom: 50%;
      display: flex;
      justify-content: center;
      .descriptions {
        position: relative;
        width: 75%;
        text-align: center;
        .description {
          text-align: center;
          font-size: 3.5vw;
          line-height: 5vw;
          font-family: 'Roboto', sans-serif;
          color: white;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          transition: all .7s;
          font-weight: 500;
        }
        .descriptionShow {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .buttonContainer {
      left: 0;
      margin-bottom: 20vw;
      .button {
        border-radius: 5vw;
        font-size: 5vw;
        padding: .5vw 5vw .5vw 0vw;
        cursor: pointer;
        span {
          border-radius: 100%;
          background-color: #D50F09;
          position: absolute;
          top: -.8vw;
          right: -5vw;
          width: 8vw;
          height: 8vw;
          display: grid;
          align-items: center;
          justify-content: center;
          transition: all .5s;
          .icon {
            height: 2.7vw;
            width: 2.7vw;
            margin: 0;
          }
        }
      }  
      .button:hover {
        span {
          background-color:  rgb(128, 38, 38);
        }
      }
    }
  }
}
