.default {
  background-color: white;
  position: relative;
  height: var(--window-height);
  > * {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--window-height);
    width: 100%;
  }
  .image {
    object-fit: cover !important;
    .text-container {
      height: var(--window-height);
      .heading1 {
        color: inherit;
      }
      .heading2 {
        color: inherit;
      }
    }
    .animated-element {
      height: var(--window-height);
    }
  }
}

.home-animated {
  .text-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .heading1 {
      
      color: #181E49;
      font-weight: 300;
      text-transform: unset;
      font-size: 8.5vw;
    }
    .heading2 {
      font-weight: 900;
      font-size: 10.5vw;
      text-transform: uppercase;
      color: #181E49;

    }
    
  }
}

.about-animated {
  .text-container {
    background-image:  linear-gradient(0deg, #FFFFFF 20%, #FFFFFF 26.71%, rgba(255, 255, 255, 0) 60%);
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15%;
    .heading1 {
      
      color: #181E49;
     
      text-transform: uppercase;
      font-weight: 900;
      padding: 0 1rem;
      font-size: 10.5vw;
    }
    .heading2 {
      font-weight: 300;
      font-size: 6.3vw;
     
      color: #181E49;

    }
    
  }
}













@media screen and (min-width: 1366px) {
  .default {
    
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .image {
      
      
    }

    .text-container {
    
      .heading1 {
        font-size: 5rem;
        color: #181E49;
        font-weight: 900;
        text-transform: uppercase;
      }
      .heading2 {
        font-size: 2.75rem;
        color: #181E49;

      }
      
    }
    .animated-element {
      
    }
  }

  .about-animated {

    > * {
      padding-top: 15%;
    }
    
    .text-container {
      background-image:  linear-gradient(0deg, #FFFFFF 20%, #FFFFFF 26.71%, rgba(255, 255, 255, 0) 60%);
    
      .heading2 {
        width: 45%;
        margin: 0 auto;
        text-align: center;
        font-weight: 300;
      }
    }
    
  }

  .home-animated {
    .text-container {
    
      .heading1 {
        font-size: 2.75rem;
        color: #181E49;
        font-weight: 300;
        text-transform: unset;
      }
      .heading2 {
        font-weight: 900;
        font-size: 5rem;
        text-transform: uppercase;
        color: #181E49;

      }
      
    }
  }
}