.default {
  padding: 10vw 0;
  color: var(--color-midnight-express);
  position: relative;
  .title-group {
    display: grid;
    justify-content: center;
    .title {
      text-align: left;
      text-transform: uppercase;
      font-size: 4.2vw;
      font-weight: 900;
      margin-bottom: 0;
    }
    .subtitle {
      text-align: left;
      font-size: 1.3vw;
      position: relative;
      font-weight: 300;
      top: -1vw;
    }
  }
  .infographic {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 28fr 32fr 40fr;
    .barrel-container {
      position: relative;
      display: grid;
      align-items: center;
      transform: rotate(0deg);
      transition: all 1s linear;
      .ring {
        width: 25vw;
        height: 25vw;
        border: 1.3vw solid var(--color-midnight-express);
        border-radius: 100%;
        position: relative;
        left: -5vw;
        transform: rotate(0);
        transition: all 1s;
        .barrel-one, .barrel-two, .barrel-three, .barrel-four {
          margin-bottom: 0;
          position: absolute;
          height: 10vw;
          width: 10vw;
          background-size: contain !important;
          background-repeat: no-repeat no-repeat;
          background-position: center center;
          z-index: 100;
          transition: all 1s;
        }
        .barrel-one {
          top: -5vw;
          left: 6.5vw;
        }
        .barrel-two {
          top: 6vw;
          left: 17vw;
        }
        .barrel-three {
          top: 18vw;
          left: 6.5vw;
        }
        .barrel-four {
          left: -5vw;
          top: 6vw;
        }
      }
      .rotate {
        justify-self: center;
        align-self: center;
        background: var(--color-midnight-express) url('../../../forestry-tools/images/rotate.svg');
        background-repeat: no-repeat no-repeat;
        background-size: 1.5vw;
        border-radius: 100%;
        background-position: center center;
        padding: 0.5vw;
        height: 3vw;
        width: 3vw;
        position: absolute;
        left: 6vw;
        transform: rotate(0deg) scale(1);
        transition: all 1s;
        &:hover {
          transform: rotate(90deg) scale(1.1);
          cursor: pointer;
        }
        &:active {
          transform: rotate(360deg) scale(1.1);
          transition: all 0.25s;
        }
        // left: 12vw;
        // top: 12vw;
      }
      .overlay {
        pointer-events: none;
        position: absolute;
        top: -10vh;
        left: 0;
        width: 100%;
        height: 120vh;
        background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
      }
    }
    .list {
      display: grid;
      justify-content: center;
      align-items: center;
      .list-container {
        display: grid;
        grid-gap: 0vw;
        pointer-events: none;
        position: relative;
        .blend {
          display: none;
          .item {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 4vw 1fr;
            gap: 1.5vw;
            .icon {
              width: 2vw;
              height: 2vw;
              margin-bottom: 0;
              justify-self: center;
            }
            .feature {
              font-size: 1.15vw;
              font-weight: 700;
            }
          }
          &.active {
            display: grid;
          }
        }
      }
    }
    .chart-container {
      height: 100%;
      width: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      .chart {
        height: 20vw;
        width: 30vw;
        // padding: 0 4vw;
      }
    }
  }
  .body {
    padding-top: 5vw;
    display: grid;
    justify-content: center;
    p {
      max-width: 57vw;
      text-align: center;
      font-size: 1.56vw;
      line-height: 2.1vw;
      strong {
        font-weight: 900;
      }
    }
  }
  @media (max-width: 1023px) {
    .title-group {
      .title {
        font-size: 6vw;
      }
      .subtitle {
        font-size: 2.8vw;
      }
    }
    .infographic {
      grid-auto-flow: row;
      grid-template-columns: unset;
      .barrel-container {
        display: none;
      }
      .list {
        display: grid;
        justify-content: center;
        align-items: center;
        .list-container {
          display: grid;
          grid-gap: 0vw;
          pointer-events: none;
          position: relative;
          .blend {
            display: none;
            gap: 1vw;
            .item {
              grid-template-columns: 5vw 1fr;
              gap: 3vw;
              .icon {
                width: 5vw;
                height: 5vw;
              }
              .feature {
                font-size: 3vw;
                margin-bottom: 0;
              }
            }
            &.active {
              display: grid;
            }
          }
        }
      }
      .chart-container {
        padding-top: 5vw;
        .chart {
          height: 50vw;
          width: 70vw;
        }
      }
    }
    .body {
      padding-top: 5vw;
      display: grid;
      justify-content: center;
      p {
        max-width: 90vw;
        text-align: center;
        font-size: 2.5vw;
        line-height: 3.5vw;
        strong {
          font-weight: 900;
        }
      }
    }
  }
}
