.main {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 21vw;
  min-width: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  .title {
    font-size: 2vw;
  }
}
div[id^=__lpform_] {
  display: none;
}