// This default class is for the mini article index
.default {
  display: grid;
  .categories-container {
    .label {
      text-transform: uppercase;
      font: var(--font-roboto-black);
      font-size: 1.2vw;
    }
    .categories {
      color: var(--color-grey);
      .category {
        cursor: pointer;
        border: none;
        background: none;
        border-radius: 0;
        padding: .5vw 1.5vw;
        overflow-x: auto;
        text-transform: capitalize;
        font: var(--font-roboto-regular);
        transform: scale(1);
        transition: all 0.5s;
        font-weight: 400;
        font-size: 1vw;
        &.active {
          font: var(--font-roboto-bold);
          font-size: 1vw;
          background: var(--color-alizarin);
          color: white;
        }
        &:not(.active):hover {
          transform: scale(1.1);
          color: var(--color-alizarin);
        }
      }
    }
    .categories-list {
      display: none;
    }
  }
  .articles {
    display: grid;
    padding: 2vw;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5vw;
    .article {
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: 11vw 1fr auto;
      .image-link {
        transition: all 0.5s ease-in-out;
        transform: scale(1);
        height: 100%;
        width: 100%;
        .image {
          height: 100%;
          width: 100%;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
      .title-link {
        transition: all 0.5s ease-in-out;
        transform: scale(1);
        .title {
          padding: 2vw 1.5vw 0;
          font: var(--font-roboto-bold);
          font-size: 1.2vw;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
      .button-link {
        display: flex;
        padding: 0 1.5vw;
        transition: all 0.5s ease-in-out;
        transform: scale(1);
        .text {
          color: var(--color-alizarin);
          font: var(--font-roboto-bold);
          font-size: 1.2vw;
          margin-right: 0.5vw;
        }
        .arrow {
          height: 1.2vw;
          width: 1.2vw;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  @media (max-width: 1023px) {
    padding: 6vw;
    .categories-container {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 4vw;
      align-items: center;
      margin-bottom: 6vw;
      .label {
        grid-column: 1;
        text-transform: unset;
        font-size: 5vw;
        margin-bottom: 0;
      }
      .categories {
        display: none;
      }
      .categories-list {
        display: unset;
        grid-column: 2;
        font: var(--font-roboto-bold);
        font-size: 5vw;
        color: var(--color-midnight-express);

      }
    }
    .articles {
      padding: 0;
      grid-template-columns: unset;
      .article {
        grid-template-rows: unset;
        .image-link {
          height: 40vw;
        }
        .title-link {
          .title {
            padding: 6vw 3vw 0;
            margin-bottom: 2vw;
            font-size: 4vw;
          }
        }
        .button-link {
          display: flex;
          padding: 0 3vw;
          margin-bottom: 3vw;
          .text {
            display: none;
          }
          .arrow {
            width: 5vw;
            height: 5vw;
          }
        }
      }
    }
  }
}