.container {
  position: relative;
  width: 100vw;
  padding: 7vw;
  margin-bottom: 1vw;
  height: auto;
  h2 {
    font-size: 2.8vw;
    width: 100%;
    text-align: center;
    margin-bottom: 4vw;
    font-style: italic;
    color: #D50F09;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  .products {
    display: grid;
    grid-template-columns: 32% 68%;
    grid-template-rows: auto;
    grid-column-gap: 2vw;
    .highlighter {
      background-color: red;
      height: 2vw;
      width: 1vw;
      border-radius: 10vw;
      position: absolute;
      left: 13vw;
      top: 16.2vw;
      transition: all .5s;
    }
    .categories  {
      padding-left: 8vw;
      .category {
        font-family: 'Roboto', sans-serif;
        color: #A4A4A4;
        font-weight: 700;
        font-size: 1.3vw;
        margin: 2.2vw;
        line-height: 1.9vw;
        transition: all .8s;
        cursor: pointer;
      }
      .category:hover {
        color: black;
      }
      .categorySelected {
        color: #D50F09;
      }
      .button {
        border-radius: 5vw;
        font-size: 1.2vw;
        font-weight: 700;
        padding: .5vw 5vw .5vw 3vw;
        height: 4vw;
        border: none;
        background-color: transparent;
        margin-top: 3vw;
        text-align: left;
        position: relative;
        transition: all .5s;
        cursor: pointer;
        span {
          border-radius: 100%;
          background-color: #D50F09;
          position: absolute;
          top: .4vw;
          right: .3vw;
          width: 3vw;
          height: 3vw;
          display: grid;
          align-items: center;
          justify-content: center;
          transition: all .5s;
          .icon {
            height: 1.3vw;
            width: 1.3vw;
            margin: 0;
          }
        }
      }
      .button:hover {
        span {
          background-color:  rgb(128, 38, 38);
        }
      }
    }
    .infoContainer {
      position: relative;
      .info {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-column-gap: 4vw;
        transition: all .8s;
        padding-right: 15vw;
        .imgContainer {
          img {
            max-width: 100%;
          }
          .image {
            height: 34vw;
            width: 34vw;
            object-fit: cover;
          }
        }
        .descripContainer {
          font-family: 'Roboto', sans-serif;
          .categoryHeading {
            color: #D50F09;
            font-size: 2.2vw;
            font-weight: 800;
            margin: 2.2vw 0 2.2vw 0;
          }
          .heading {
            font-weight: 700;
            font-size: 1.3vw;
            margin: 2.2vw 0 4vw 0;
          }
          .description {
            font-size: 1vw;
          }
        }
      }
      .infoShow {
        visibility: visible;
        opacity: 1;
      }
      .buttonContainer {
        position: absolute;
        bottom: 0;
        left: 50%;
        .buttonTwo {
          border-radius: 5vw;
          font-size: 1.2vw;
          font-weight: 700;
          padding: .5vw 5vw .5vw 3vw;
          height: 4vw;
          border: none;
          background-color: transparent;
          margin-top: 3vw;
          text-align: left;
          position: relative;
          transition: all .5s;
          cursor: pointer;
          span {
            border-radius: 100%;
            background-color: #D50F09;
            position: absolute;
            top: .4vw;
            right: .3vw;
            width: 3vw;
            height: 3vw;
            display: grid;
            align-items: center;
            justify-content: center;
            transition: all .5s;
            .icon {
              height: 1.3vw;
              width: 1.3vw;
              margin: 0;
            }
          }  
        }    
        .buttonTwo:hover {
          span {
            background-color: rgb(128, 38, 38);
          }
        }    
      }
    }
  }
}
@media (max-width: 1023px) {
  .container {
    position: relative;
    width: 100vw;
    padding: 7vw;
    h2 {
      font-size: 5vw;
      width: 100%;
      text-align: center;
      margin-bottom: 4vw;
    }
    .products {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-column-gap: 2vw;
      .highlighter {
        top: 19vw;
      }
      .categories  {
        padding-left: 8vw;
        .category {
          font-family: 'Roboto', sans-serif;
          color: #A4A4A4;
          font-weight: 700;
          font-size: 2.6vw;
          margin: 2.2vw;
          line-height: 2.85vw;
        }
        .button {
          border-radius: 5vw;
          font-size: 2.4vw;
          font-weight: 700;
          padding: .5vw 5vw .5vw 3vw;
          height: 4vw;
          border: none;
          background-color: transparent;
          margin-top: 3vw;
          margin-bottom: 3vw;
          text-align: left;
          position: relative;
          transition: all .5s;
          cursor: pointer;
          span {
            border-radius: 100%;
            background-color: #D50F09;
            position: absolute;
            top: -.3vw;
            right: -.6vw;
            width: 4.5vw;
            height: 4.5vw;
            display: grid;
            align-items: center;
            justify-content: center;
            transition: all .5s;
            .icon {
              height: 2vw;
              width: 2vw;
              margin: 0;
            }
          }
        }
        .button:hover {
          span {
            background-color: black;
          }
        }
      }
      .infoContainer {
        height: 80vw;
        position: relative;
        .info {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          display: grid;
          grid-template-columns: auto;
          grid-column-gap: 4vw;
          transition: all .8s;
          padding-right: 15vw;
          .imgContainer {
            .image {
              height: 40vw;
              width: 40vw;
              object-fit: cover;
            }
          }
          .descripContainer {
            font-family: 'Roboto', sans-serif;
            .categoryHeading {
              color: #D50F09;
              font-size: 4.4vw;
              font-weight: 800;
              margin: 2.2vw 0 2.2vw 0;
            }
            .heading {
              font-weight: 700;
              font-size: 2.6vw;
              margin: 2.2vw 0 4vw 0;
            }
            .description {
              font-size: 1.5vw;
            }
          }
        }
        .infoShow {
          visibility: visible;
          opacity: 1;
        }
        .buttonContainer {
          left: 10%;
          .buttonTwo {
            border-radius: 5vw;
            font-size: 2.4vw;
            cursor: pointer;
            span {
              border-radius: 100%;
              background-color: #D50F09;
              position: absolute;
              top: -.3vw;
              right: -.6vw;
              width: 4.5vw;
              height: 4.5vw;
              display: grid;
              align-items: center;
              justify-content: center;
              transition: all .5s;
              .icon {
                height: 2vw;
                width: 2vw;
                margin: 0;
              }
            }
          }  
        }
      }
    }
  }
}
