.container {
  height: 10vw;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 0.4vw;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  position: relative;
  // display: none;
  .icon {
    height: 7vw;
    width: 7vw;
    margin-bottom: 0;
    padding: 0.25vw;
  }
  .label {
    margin-bottom: 0;
    font-size: 0.75vw;
    color: white;
    display: none;
  }
  .quantity-container {
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 1vw;
    background: black;
    border-radius: 3vw;
    min-width: 4.2vw;
    height: 4.2vw;
    text-align: center;
    .quantity {
      color: white;
      font-size: 3vw;
      font-weight: 700;
      margin: 0;
      height: 100%;
    }
  }
}