.footer {
  display: grid;
  grid-auto-flow: column;
  padding: 4vw 9vw 1vw;
  grid-template-columns: 29.8vw 26.5vw 1fr;
  // grid-template-columns: 3fr auto;
}
.bottom-row {
  display: grid;
  grid-auto-flow: column;
  padding: 0 9vw;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (max-width: 600px) {
  .footer {
    display: none;
  }
}