.default {
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  display: grid;
  padding-left: 5vw;
  grid-auto-flow: row;
  color: var(--color-midnight-express);
  width: 100%;
  .list {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.75rem;
    margin: 3rem 0;
    .link, .button-container .button {
      background: transparent;
      border: none;
      padding: 0;
      transition: all 0.5s ease-in-out;
      transform: scale(1);
      .label {
        font: var(--font-soleto-black);
        text-transform: uppercase;
        font-size: 2.7rem;
        margin-bottom: 0;
      }
      &:hover {
        color: var(--color-alizarin);
        cursor: pointer;
        transform: scale(1.05);
      }
      &.active {
        color: var(--color-grey);
        .label {
          color: inherit;
        }
      }
    }
    .button-container {
      display: none;
    }
  }
  @media (max-width: 1023px) {
    .list {
      grid-gap: 1.75vh;
      margin: 0 0 6vh;
      .link, .button-container .button {
        .label {
          font-size: 1.8rem;
        }
      }
      .button-container {
        display: unset;
      }
    }
  }
}