
img {
  max-width: 4000vw;
}
.section {
  .heading {
    font-size: 2.8vw;
    width: 100%;
    text-align: center;
    margin-bottom: 3vw;
    font-family: 'Roboto', sans-serif;
    color: #d50f09;
    font-weight: 900;
  }
  .subHeading {
    font-size: 1vw;
    width: 100%;
    text-align: center;
  }
  .animationContainer {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    padding: 2vw;
    align-items: center;
    .imageContainer {
      height: 30vw;
      overflow: hidden;
      position: relative;
      .image {
        overflow: hidden;
        position: absolute;
        top: -9vw;
        left: 0vw;
        width: 1550vw;
        transform: translateX(-97%);
        background-repeat: no-repeat;
      }
      .image01 {
        animation-name: move0-1;
        animation-duration: 0.6s;
        animation-timing-function: steps(8);
        animation-fill-mode: forwards;
      }
      .image02 {
        animation-name: move0-2;
        animation-duration: 1.2s;
        animation-timing-function: steps(16);
        animation-fill-mode: forwards;
      }
      .image03 {
        animation-name: move0-3;
        animation-duration: 1.8s;
        animation-timing-function: steps(24);
        animation-fill-mode: forwards;
      }
      .image10 {
        animation-name: move1-0;
        animation-duration: .6s;
        animation-timing-function: steps(8);
        animation-fill-mode: forwards;
      }
      .image12 {
        animation-name: move1-2;
        animation-duration: .6s;
        animation-timing-function: steps(8);
        animation-fill-mode: forwards;
      }
      .image13 {
        animation-name: move1-3;
        animation-duration: 1.2s;
        animation-timing-function: steps(16);
        animation-fill-mode: forwards;
      }
      .image20 {
        animation-name: move2-0;
        animation-duration: 1.2s;
        animation-timing-function: steps(16);
        animation-fill-mode: forwards;
      }
      .image21 {
        animation-name: move2-1;
        animation-duration: .6s;
        animation-timing-function: steps(8);
        animation-fill-mode: forwards;
      }
      .image23 {
        animation: move2-3;
        animation-duration: .6s;
        animation-timing-function: steps(8);
        animation-fill-mode: forwards;
      }
      .image30 {
        animation-name: move3-0;
        animation-duration: 1.8s;
        animation-timing-function: steps(24);
        animation-fill-mode: forwards;
      }
      .image31 {
        animation-name: move3-1;
        animation-duration: 1.2s;
        animation-timing-function: steps(16);
        animation-fill-mode: forwards;
      }
      .image32 {
        animation-name: move3-2;
        animation-duration: .6s;
        animation-timing-function: steps(8);
        animation-fill-mode: forwards;
      }   
    }
    .infoContainer {
      padding: 9vw 4vw 4vw 9vw;
      position: relative;
      .info {
        position: absolute;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .7s;
        h3 {
          font-size: 2vw;
          font-family: 'Roboto', sans-serif;
          color: #d50f09;
          font-weight: 900;
          font-style: italic;
        }
        p {
          font-size: 1vw;
          line-height: 1.5vw;
        }
        ul {
          list-style: disc;
          list-style-position: inside;
          li {
            list-style-type: disc;
            font-size: 1vw;
            margin: 0;
            line-height: 1.5vw;
            font-weight: bold;
          }
        }    
      }
      .infoShow {
        opacity: 1;
        visibility: visible;
      }
    }
    .buttons {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-row-gap: 2.5vw;
      justify-content: center;
      align-items: center;
      .iconContainer {
        height: 3.2vw;
        width: 3.2vw;
        background: #d50f09;
        opacity: 0.7;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        .icon {
          height: 2vw;
          width: 2vw;
          position: relative;
          padding: 0.15vw;
          color: #fff;
          cursor: pointer;
          display: grid;
          position: relative;
          left: 1%;
          margin: 0;
        }
      }
      .iconContainer:hover {
        opacity: 1;
      }
      .iconContainerActive {
        transform: scale(1.5);
        opacity: 1;
      }
      .iconContainerActive:before {
        content: "";
        height: 5.2vw;
        width: 5.2vw;
        background: #212121;
        position: absolute;
        border-radius: 100%;
        opacity: .15;
        transition: opacity 0.5s;
      }
      .iconContainerActive:after {
        content: "";
        height: 4.3vw;
        width: 4.3vw;
        background: #d50f09;
        position: absolute;
        border-radius: 100%;
        opacity: 0.5;
        z-index: -1;
      }
    }
  }
}
@media (max-width: 1023px) {
  .section {
    margin-bottom: 12vw;
    height: 95vw;
    .heading {
      font-size: 4.2vw;
    }
    .subHeading {
      font-size: 1.5vw;
      width: 70%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .animationContainer {
      display: grid;
      grid-template-columns: auto;
      grid-template-areas:
      "top"
      "middle"
      "bottom";
      padding: 2vw;
      align-items: center;
      justify-content: center;
      .imageContainer {
        height: 50vw;
        width: 80vw;
        overflow: hidden;
        position: relative;
        grid-area: middle;
        .image {
          overflow: hidden;
          position: absolute;
          top: -9vw;
          left: 8vw;
          width: 2325vw;
          transform: translateX(-97%);
        }
        .image01 {
          animation-name: move0-1;
          animation-duration: 0.6s;
          animation-timing-function: steps(8);
          animation-fill-mode: forwards;
        }
        .image02 {
          animation-name: move0-2;
          animation-duration: 1.2s;
          animation-timing-function: steps(16);
          animation-fill-mode: forwards;
        }
        .image03 {
          animation-name: move0-3;
          animation-duration: 1.8s;
          animation-timing-function: steps(24);
          animation-fill-mode: forwards;
        }
        .image10 {
          animation-name: move1-0;
          animation-duration: .6s;
          animation-timing-function: steps(8);
          animation-fill-mode: forwards;
        }
        .image12 {
          animation-name: move1-2;
          animation-duration: .6s;
          animation-timing-function: steps(8);
          animation-fill-mode: forwards;
        }
        .image13 {
          animation-name: move1-3;
          animation-duration: 1.2s;
          animation-timing-function: steps(16);
          animation-fill-mode: forwards;
        }
        .image20 {
          animation-name: move2-0;
          animation-duration: 1.2s;
          animation-timing-function: steps(16);
          animation-fill-mode: forwards;
        }
        .image21 {
          animation-name: move2-1;
          animation-duration: .6s;
          animation-timing-function: steps(8);
          animation-fill-mode: forwards;
        }
        .image23 {
          animation: move2-3;
          animation-duration: .6s;
          animation-timing-function: steps(8);
          animation-fill-mode: forwards;
        }
        .image30 {
          animation-name: move3-0;
          animation-duration: 1.8s;
          animation-timing-function: steps(24);
          animation-fill-mode: forwards;
        }
        .image31 {
          animation-name: move3-1;
          animation-duration: 1.2s;
          animation-timing-function: steps(16);
          animation-fill-mode: forwards;
        }
        .image32 {
          animation-name: move3-2;
          animation-duration: .6s;
          animation-timing-function: steps(8);
          animation-fill-mode: forwards;
        }   
      }
      .infoContainer {
        padding: 9vw 4vw 4vw 9vw;
        position: relative;
        grid-area: bottom;
        .info {
          position: absolute;
          top: 0;
          opacity: 0;
          visibility: hidden;
          transition: all .7s;
          h3 {
            font-size: 3.5vw;
          }
          p {
            font-size: 1.5vw;
            line-height: 2.25vw;
          }
          ul {
            list-style: disc;
            list-style-position: inside;
            li {
              list-style-type: disc;
              font-size: 1.5vw;
              margin: 0;
              line-height: 2.25vw;
              font-weight: bold;
            }
          }    
        }
        .infoShow {
          opacity: 1;
          visibility: visible;
        }
      }
      .buttons {
        display: grid;
        grid-area: top;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 5vw;
        justify-content: center;
        align-items: center;
        .iconContainer {
          height: 4.8vw;
          width: 4.8vw;
          background: #d50f09;
          opacity: 0.7;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.5s;
          .icon {
            height: 3.5vw;
            width: 3.5vw;
            position: relative;
            padding: 0.15vw;
            color: #fff;
            cursor: pointer;
            display: grid;
            position: relative;
            left: 1%;
            margin: 0;
          }
        }
        .iconContainerActive {
          transform: scale(1.5);
          opacity: 1;
        }
        .iconContainerActive:before {
          content: "";
          height: 7.8vw;
          width: 7.8vw;
          background: #212121;
          position: absolute;
          border-radius: 100%;
          opacity: .15;
          transition: opacity 0.5s;
        }
        .iconContainerActive:after {
          content: "";
          height: 6.45vw;
          width: 6.45vw;
          background: #d50f09;
          position: absolute;
          border-radius: 100%;
          opacity: 0.5;
          z-index: -1;
        }
      }
    }
  }
}
@keyframes move0-1 {
  0% {
    transform: translateX(-97%);
  }
  100% {
    transform: translate(-71.2%)
  }
}
@keyframes move0-2 {
  0% {
    transform: translateX(-97%);
  }
  100% {
    transform: translate(-45.4%)
  }
}
@keyframes move0-3 {
  0% {
    transform: translateX(-97%);
  }
  100% {
    transform: translate(-19.6%)
  }
}
@keyframes move1-2 {
  0% {
    transform: translateX(-71.2%);
  }
  100% {
    transform: translate(-45.4%)
  }
}
@keyframes move1-3 {
  0% {
    transform: translateX(-71.2%);
  }
  100% {
    transform: translate(-19.6%)
  }
}
@keyframes move1-0 {
  0% {
    transform: translateX(-71.2%);
  }
  100% {
    transform: translate(-97%)
  }
}
@keyframes move2-3 {
  0% {
    transform: translateX(-45.4%);
  }
  100% {
    transform: translate(-19.6%)
  }
}
@keyframes move2-0 {
  0% {
    transform: translateX(-45.4%);
  }
  100% {
    transform: translate(-97%)
  }
}
@keyframes move2-1 {
  0% {
    transform: translateX(-45.4%);
  }
  100% {
    transform: translate(-71.2%)
  }
}
@keyframes move3-0 {
  0% {
    transform: translateX(-19.6%);
  }
  100% {
    transform: translate(-97%)
  }
}
@keyframes move3-1 {
  0% {
    transform: translateX(-19.6%);
  }
  100% {
    transform: translate(-71.2%)
  }
}
@keyframes move3-2 {
  0% {
    transform: translateX(-19.6%);
  }
  100% {
    transform: translate(-45.4%)
  }
}