.container {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 0.4vw;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5vw;
  .icon {
    height: 1.75vw;
    width: 1.75vw;
    margin-bottom: 0;
    padding: 0.25vw;
  }
  .label {
    margin-bottom: 0;
    font-size: 0.75vw;
    color: white;
  }
}