.default {
  height: 100%;
  position: relative;
  .list {
    display: grid;
    gap: 2.6vw;
    grid-auto-flow: column;
    height: 100%;
    // @media (max-width: 1023px) {
    //   grid-auto-flow: row;
    // }
    .list-item {
      margin-bottom: 0;
      .link, .menu {
        display: grid;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
        .label {
          color: white;
          font-weight: 300;
          font-size: 1.25vw;
          margin-bottom: 0;
        }
        .underline {
          position: absolute;
          width: 0vw;
          height: 0.2vw;
          border-radius: 0.2vw;
          bottom: 0.3vw;
          justify-self: center;
          background-color: rgba(255, 255, 255, 0);
          transition: all 0.5s ease-in-out;
        }
        &:hover {
          .underline {
            background-color: rgba(255, 255, 255, 0.5);
            width: 1vw;
          }
        }
        &.active {
          color: var(--color-grey);
          .label {
            color: white;
          }
          .underline {
            background-color: white;
            width: 1vw;
          }
        }
      }
    }
  }
  // @media (max-width: 1023px) {
  //   .list {
  //     grid-gap: 1.75vh;
  //     margin: 0 0 6vh;
  //     .link, .button-container .button {
  //       .label {
  //         font-size: 1.8rem;
  //       }
  //     }
  //     .button-container {
  //       display: unset;
  //     }
  //   }
  // }
}
@media (max-width: 600px) {
  .default {
    display: none;
  }
}